.main__screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 3rem;
    /* background-color: rgba(56, 8, 93, .8); */
}
.main__search {
    position: absolute;
    top: 1rem;
    width: 25vw;
    background-color: rgba(65, 234, 212, .5);
    display: flex;
    align-items: center;
    align-items: center;
   border-radius: 18px;
}
.main__search img {
    height: 2.5rem;
}
.main__search input {
    height: 1.5rem;
    width: 80%;
}
.main__screen__display {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 3rem;
}