.profile__container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;
    background-color: rgba(38, 37, 38, 0.9);
    padding-bottom: 3rem;
}
.profile__head {
    position: relative;
    width: 100vw;
    margin-top: 2rem;
    margin-bottom: -2rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.profile__logout{
    position: absolute;
    right: 1rem;
    width: 8vw;
    height:7vh;
    font-size: 1.2rem;
    background-color: rgba(247, 92, 3, .9);
    border-radius: 3px;
    border: 2px;
    box-shadow: -2px 2px 5px;
}
.profile__logout:hover{
    cursor: pointer;
}
.profile__view{
    width: 11vw;
    height: 9vh;
    font-size: 1.2rem;
    background-color: rgba(65, 234, 212, .9);
    border-radius: 3px;
    border: 2px;
    box-shadow: -2px 2px 5px;
}
.profile__view:hover {
    cursor: pointer;
}

/* .main__screen__display {
    margin-top: 4.5rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 5rem;
} */
/* .profile__display{
    width: 1000px;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
   background-color: black;
} */